body {
  margin: 0;
  background-color: #f6f7fb;
  font-family: "Poppins", sans-serif;
}
header img {
  width: 24px;
  height: 28px;
  margin-right: 8px;
}
header {
  background-color: white;
  width: 100%;
  padding: 0 48px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 4px #ccc;
  display: flex;
  justify-content: space-between;
}
header > div,
header > div > div {
  display: flex;
  align-items: center;
}
header p {
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 500;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 36px;
}
header a {
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 24px 0 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin: 0 10px;
}
header > div > div a {
  border-bottom: 3px solid transparent;
}
.addingBorders {
  color: #20b883;
  border-bottom: 3px solid #20b883;
}
main {
  margin-top: 100px;
  width: 100%;
}
