#searchForm {
  width: 700px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
#searchForm input[type="search"] {
  width: calc(100% - 100px);
  padding: 12px 24px;
  font-size: 15px;
  border: 0;
  border-bottom: 2px solid #8c8c8c;
  margin: 0 36px 0 0;
  outline: none;
}
input[type="search" i] {
  appearance: searchfield;
  box-sizing: border-box;
  padding: 1px 2px;
}
#searchForm input[type="reset"] {
  display: inline-block;
  border-radius: 30px;
  padding: 14px 36px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #20b883;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
